{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto p-4">
    <div>
        <div class="flex items-center justify-between">
            <h1 class="text-2xl text-black  font-bold dark:text-[#fff]">Seus Projetos</h1>
        </div>

        <div role="alert" id="alert-mensagem" class="mt-2" style="display: none;"></div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-4">
            <div id="projetos-container" class="contents">
            </div>
            
            <div class="flex-shrink-0 w-[300px] hover:w-[305px] hover:h-[200px] transition-all duration-300 h-[186px]">
                <button onclick="my_modal_5.showModal()" class="w-full h-full outline-2 dark:text-white dark:outline-[#fff] rounded-[10px] outline-dashed dark:bg-[#1D1C1F] bg-gray-100 text-gray-700">
                    + Novo Projeto
                </button>
            </div>
        </div>
    </div>
</div>

{% include 'includes/modais/modalCriarProjeto.html' %}
<script src="{% static 'todo/js/indexProjeto.js' %}"></script>

{% endblock %}
