{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="">
    <input type="hidden" id="id_projeto" value="{{object.id}}" name="projeto">

    <div class="flex items-center justify-between">
        <h1 class="text-2xl font-bold dark:text-white ">{{object.nome}}</h1>
      
        <div class="dropdown dropdown-left">
            <div tabindex="0" role="button" class="btn dark:bg-[#1D1C1F] dark:text-[#fff] bg-base-100 rounded-full cursor-pointer transition-all hover:text-[#fff] group hover:bg-[#202127] outline-none hover:rotate-90 duration-300 focus:outline-none focus:text-[#fff] dark:focus:text-[#202127] focus:bg-[#202127] dark:focus:bg-[#fff]">
                <i class="fa-solid fa-plus"></i></div>
            <div
              tabindex="0"
              class="dropdown-content card card-compact bg-[#fff] text-primary-content z-[1] w-64 p-2 shadow">
              <div class="card-body">
                <input type="text" id="nome_lista" name="lista" placeholder="Nome da Lista" class="input input-bordered w-full">
                <button id="criar_lista" class="btn bg-[#fff] mt-2 border-1 border-[#202127] hover:text-[#fff] hover:bg-[#202127] m-0">Criar Lista</button>
              </div>
            </div>
        </div>

    </div>

    <div role="alert" id="alert-mensagem" class="mt-2 " style="display: none;"></div>


    <div class="flex" id="listas-container" >
    
         
       
    </div>
</div>


{% include 'includes/modais/modalConteudoCartao.html' %}
<script src="{% static 'todo/js/painelProjeto.js' %}"></script>
{% endblock %}
