<!DOCTYPE html>
{% load static %}

<html lang="en"  data-theme="emerald">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ToDoOn{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <link href="{%static 'todo/css/indexProjeto.css' %}" rel="stylesheet"/>
    <link href="{%static 'todo/css/painelProjeto.css' %}" rel="stylesheet"/>
    
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">


</head>
<body class="bg-gray-100 flex flex-col h-screen">
    <header class="bg-[#184C78] text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a class="text-xl font-bold" href="{% url 'index'%}">ToDoOn</a>
            <nav>
                <a href="#" class="mr-4">Inicio</a>
                <a href="#">Sobre</a>
            </nav>
        </div>
    </header>

    <main class="container mx-auto flex-grow p-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-gray-800 text-white p-4 text-center">
        <p>&copy; 2024 ToDoOn</p>
    </footer>
</body>
</html>