<!DOCTYPE html>
{% load static %}

<html lang="en"  data-theme="emerald">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ToDoOn{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <link href="{%static 'todo/css/indexProjeto.css' %}" rel="stylesheet"/>
    <link href="{%static 'todo/css/painelProjeto.css' %}" rel="stylesheet"/>
    
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">


</head>
<body class="bg-gray-100 dark:bg-[#1D1C1F] flex flex-col h-screen">
    {% if not request.resolver_match.url_name == 'login' %}
    <header class=" text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center justify-center gap-6">
                <a class="text-xl font-bold text-[#000] dark:text-[#fff]"   href="{% url 'index'%}">ToDoOn</a>
                <div class="relative w-full max-w-sm">
                    <input type="text" class="w-full h-0 p-4 transition-all dark:bg-[#3b3b3b] duration-300 group pr-10 text-sm focus:border rounded-[20px] dark:focus:border-[#fff] focus:border-[#202127] focus:ring-[#202127] focus:outline-none" placeholder="Pesquisar...">
                    <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                        <i class="fas fa-search dark:text-[#fff] text-gray-500"></i>
                    </span>
                </div>
            </div>
            {% if user.is_authenticated %}

            <div class="dropdown dropdown-end ">
                <div tabindex="0" role="button" class="btn dark:hover:bg-gray-200 dark:hover:text-[#202127] bg-gray-200 dark:text-[#fff] dark:bg-[#202127] rounded-full m-1"><i class="fa-solid fa-user"></i></div>
                <ul tabindex="0" class="dropdown-content menu dark:bg-[#3b3b3b]  bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                  <li><a class="text-[#202127] dark:text-white" onclick="modalSair.showModal()" >Sair</a></li>
                </ul>
              </div>
            {% endif %}

        </div>
        <hr class="mt-2 dark:border-[#3b3b3b]"/>
    </header>
    {% endif %}


    <main class="container mx-auto flex-grow p-4">
        {% block content %}
        {% endblock %}
    </main>

    {% if not request.resolver_match.url_name == 'login' %}
    <footer class="bg-gray-800 dark:bg-[#0F0E13] text-white p-4 text-center">
        <p>&copy; 2024 ToDoOn</p>
    </footer>
    {% endif %}

    <script src="{% static 'todo/js/baseProjeto.js' %}"></script>
    {% include 'includes/modais/modalSair.html' %}


</body>
</html>