<dialog id="modalSair" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box  dark:bg-[#1D1C1F] ">
      <form method="dialog">
        <button class="btn btn-sm dark:text-white btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <div class="card ">
        <span class="text-xl font-bold dark:text-white mb-4"> <i class="fa-solid text-[#cc1f0f] dark:text-[#fff]  fa-circle-exclamation"></i> Sair da Conta</span>
        <span class=" text-gray-400 dark:text-white mb-4"> </i> Você tem certeza de que deseja sair da sua conta?

          Essa ação irá desconectá-lo de sua sessão atual.</span>

        <div class="flex justify-center items-center gap-6">
          <form action="{% url 'sair' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <div class="flex justify-end items-center">
                <button type="submit" class="transition-all  duration-300 dark:hover:bg-[#fff] p-2 rounded-[16px] pl-6 pr-6 dark:hover:text-[#1D1C1F]  dark:border-[#fff] dark:text-[#202127] dark:bg-[#1D1C1F] text-white bg-[#cc1f0f] dark:bg-[#fff]  border-1 border-[#202127] hover:text-[#fff] hover:bg-[#202127]">Sair</button>
            </div>
        </form>
        <form method="dialog">
          <button class="transition-all  duration-300  dark:hover:bg-[#fff] dark:hover:text-[#1D1C1F]  p-2 rounded-[16px]  pl-4 pr-4 dark:border-[#fff] dark:text-[#fff] dark:bg-[#1D1C1F]  bg-[#fff] border-[1px] border-[#202127] hover:text-[#fff] hover:bg-[#202127] m-0">Fechar</button>
        </form>
        </div>
      </div>
    </div>
  </dialog>