{% extends 'base/base.html' %}
{% load static %}

{% block title %}Entrar{% endblock %}

{% block content %}
    <div class="flex items-center mt-6 justify-center">
        <div class="card">
            <div class="bg-white card-body">
                <h1 class="text-2xl font-bold text-center">Entrar</h1>
                <form method="post" class="space-y-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="flex justify-center items-center">
                        <button type="submit" class="dark:hover:bg-[#fff] dark:hover:text-[#1D1C1F]  dark:border-[#fff] dark:text-[#fff] dark:bg-[#1D1C1F] btn bg-[#fff] mt-2 border-1 border-[#202127] hover:text-[#fff] hover:bg-[#202127] m-0">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
