.lista-dropzone {
  border: 2px dashed transparent;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.lista-dropzone.hovered {
  border: 2px dashed #202127; 
  background-color: #f7f7f7; 
}

.lista-dropzone.expanded {
  min-height: 150px; 
}

.lista-dropzones {
  border: 2px dashed transparent;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.lista-dropzones.hovered {
  background-color: #333333; 
}

.cartao {
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.cartao.dragging {
  opacity: 0.5;
}